extends layout
block content
    main 
      form(action="/addEntreprise", method="POST")
        p
          | Nom de l"entreprise: 
          input(type="text" name="name" id="name" required)
        button(class="add" type="submit") Ajouter