extends layout
block content
    main
        .parametre 
            h2 Entreprises
            .categories_items 
            ul  
                each entrep in entreprise
                    li #{entrep.name}
            form(action="",method="post")
                fieldset 
                    legend Filtrage matériaux
                    br
                    label Rchercher des matériaux
                    br
                    <input type="text" id="tagsM" name="tagsM"/>
                    <button type="submit">Recherher</button> 
            form(action="",method="post")
                fieldset 
                    small Tips : Penser à selectionner les divers matériaux utiliser pour ce meuble ==>
                    br
                    legend Creation de meuble
                    br
                    label Nom du meuble
                    br
                    <input type="text" id="nameMeuble" name="nameMeuble"/>
                    br
                    label Categorie du meuble
                    br
                    select(name="categorie").categorie_selected
                        each cate in categories
                            option(value=cate._id) #{cate.name}
                    br
                    button(type="submit",class="addC") Créer meuble
        .show_datas
            each materiauAfficher in materiaux
                div.card
                    <input type="checkBox" id="mats" class="mats_checked"/>
                    h3 #{materiauAfficher.name}