extends layout
block content
    nav 
            ul
                li: a(href="/").link Accueil
    hr
    main 
      div.centered 
        h1 Ajouter un nouveau matériau
        form(action="",method="post")
          label Nom 
          <input type="text" id="name" name="name"/> 
          br
          label Entreprise 
          select(name="entreprise").entreprise_selected
            each entrep in entreprises
              option(value=entrep._id) #{entrep.name}
          br
          button(type="submit",class="add") Ajouter le materiau