extends layout
block content
        nav 
            ul
                li: a(href="/").link Accueil
        hr
        .parametreCreat 
            h1 Creation d'un meuble
            h2 Entreprises
            .categories_items 
            form(action="",method="post")
                fieldset 
                    ul  
                    each entrep in entreprises
                        li #{entrep.name}
                    legend Creation de meuble
                    br
                    label Nom du meuble
                    br
                    <input type="text" id="nameMeuble" name="nameMeuble"/>
                    br
                    label Categorie du meuble
                    br
                    select(name="categorie").categorie_selected
                        each cate in categories
                            option(value=cate._id) #{cate.name}
                    br
                    button(type="submit",class="addC") Créer meuble
        if error
            span.alert #{error}