extends layout
block content
    nav 
      ul
          li: a(href="/").link Accueil
    hr
    .centered 
        h1 Description de materiau
        h2 #{materiau.name}
        p #{materiau.description}