extends layout
block content
  main 
    .parametre 
      h2 Categories
      .categories_items 
        ul  
          each categorie in categories
            li #{categorie.name}
      form(action="")
        <input type="text" id="tags" name="tags"/>
        <button type="submit">Recherher</button> 
      button.add Ajouter un meuble
    .show_datas
      each meubleAfficher in meuble
        div
          h3 #{meubleAfficher.name}