extends layout
block content
  main 
    .parametre 
      h2 Categories
      .categories_items 
        ul  
          each categorie in categories
            li #{categorie.name}
      form(action="",method="post")
      fieldset 
        legend Filtrage meuble par categories
        br
        <input type="text" placeholder="" id="tags" name="tags"/>
        <button type="submit">Recherher</button> 
      a(href="/addMeuble").add Ajouter un meuble
      a(href="/addMateriau").add Ajouter un materiau
      a(href="/addCategorie").add Ajouter une categorie
      a(href="/addEntreprise").add Ajouter une entreprise
    .show_datas
      each meubleAfficher in meuble
        div.card
          h3 #{meubleAfficher.name}